APP_PASSWORD=APP_PASS
HYPERSTACK_API_KEY=hyperstack_api_key
ADMIN_API_KEY=your_admin_api_key_here
SECRET_KEY=your_secret_key_here
SQLALCHEMY_DATABASE_URI=mysql+pymysql://db_user:db_password@db:3306/inference_db

# DB envs
MYSQL_ROOT_PASSWORD=db_root_password
MYSQL_USER=db_user
MYSQL_PASSWORD=db_password
MYSQL_DATABASE=inference_db
MYSQL_TEST_DATABASE=inference_test_db
MYSQL_DB_HOST=db

# celery worker
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# s3
S3_BUCKET_NAME=...
S3_ENDPOINT_URL=...
S3_ACCESS_KEY=...
S3_SECRET_KEY=...

# DB backup schedule
DB_BACKUP_SCHEDULE_MIN=0
DB_BACKUP_SCHEDULE_HOUR=*/6
DB_BACKUP_SCHEDULE_DAY_OF_WEEK=*
DB_BACKUP_SCHEDULE_DAY_OF_MONTH=*
DB_BACKUP_SCHEDULE_MONTH_OF_YEAR=*
